**/*.pyc
**/__pycache__
.cache/
dist/
MANIFEST
build/
**/.ipynb_checkpoints/
doc/
examples/*.wav
examples/*.html
examples/thumbs/
**.egg-info
benchmarks/*
!benchmarks/asv.conf.json
!benchmarks/benchmarks
!benchmarks/profile.py
!benchmarks/run_profile.sh
**.so
_*.c
cython_debug/
